.footer {
  padding: 4rem 10rem;

  background-color: $color-bg-soft-black;

  // * COLUMNAS
  &__cols {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  // * TAMAÑOS COLUMNAS
  &__col:nth-child(1) {
    flex: 0 0 30%;
  }

  &__col:nth-child(2) {
    flex: 0 0 10%;
  }

  &__col:nth-child(3) {
    flex: 0 0 20%;
  }

  &__col {
    flex: 0 0 12.5%;
    &:not(:last-child) {
      margin-right: 5rem;
      @include respond(tab-port) {
        margin-right: 0rem;
      }
    }
    @include respond(tab-port) {
      margin-bottom: 2rem;
    }
  }

  // * FOOTER LINKS

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    @include respond(tab-port) {
      flex-direction: row;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
    }
  }

  li {
    backface-visibility: hidden;
    transition: all 0.3s ease;
    &:not(:last-child) {
      margin-bottom: 1rem;
      @include respond(tab-port) {
        margin-bottom: 0rem;
        margin-right: 3rem;
      }
    }
    &:hover {
      transform: skew(-15deg);
    }
  }
  a {
    text-transform: capitalize;
    color: $color-white-shadowed;
    border-radius: 0.2rem;
    transition: all 0.3s ease;
    backface-visibility: hidden;

    &:hover {
      background-color: $color-secondary;
    }
  }
  a[aria-current='page'] {
    color: $color-white;
    background-color: $color-secondary;
  }
}
