// * HERO SECTION, HEADER TOP OF THE PAGE
.hero {
  position: relative;
  height: 85vh;

  // * DIV WITH ALL THE TEXT, BG IMAGE AND STUFF
  &__overlay {
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('../assets/img/bg/bg-with-overlay.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    .heading-primary {
      text-align: center;
      padding-top: 8rem;
    }

    .paragraph-desc {
      padding-top: 3rem;
      width: 55%;
    }
  }

  // * ICON ARROW DIV > IMG
  &__arrow {
    position: absolute;
    bottom: 3%;
    right: 50%;
    height: 7vh;
    transform: translateX(50%);
    cursor: pointer;
  }

  &__arrow-img {
    width: 5rem;
    height: 5rem;
    animation: bounce 1.5s ease-in-out infinite;
  }
}
