// * HERO SECTION, HEADER TOP OF THE PAGE
.hero {
  position: relative;
  height: 90%;
  width: 100%;
  @include respond(tab-port) {
    height: 70%;
  }

 

  // * DIV WITH ALL THE TEXT, BG IMAGE AND STUFF
  &__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;

    background-image: url('../assets/img/bg/bg-with-overlay.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: repeat;

    .heading-primary {
      text-align: center;
      padding-top: 8rem;
      padding-right: .5rem;
      padding-left: .5rem;
    }

    .paragraph-desc {
      padding-top: 3rem;
      padding-right: .2rem;
      padding-left: .2rem;
      width: 55%;

      @include respond(tab-land) {
        width: 65%;
      }

      @include respond(tab-port) {
        width: 85%;
      }

      @include respond(phone) {
        width: 95%;
      }
    }
  }

  // * ICON ARROW DIV > IMG
  &__arrow {
    position: absolute;
    bottom: 3%;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
  }

  &__arrow-img {
    width: 5rem;
    height: 5rem;
    animation: bounce 1.5s ease-in-out infinite;
  }
}
