// * COMMON LAYOUTS PAGE
.container {
  max-width: 120rem;
  margin: 0 auto;
}

.flex-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding: 0rem 2rem;

  @include respond(tab-port){
    margin-bottom: 0rem;
    padding: 1rem;
  }
}
