// * PRIMARY NAVIGATION BAR

.nav {
  height: 10rem;
  padding: 2rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond(tab-port){
    height: auto;
    flex-direction: column;
  }

  // * LOGO DIV WITH IMAGE
  &__logo {
  }

  &__logo-img {
    width: 7rem;
  }

  // * LINKS DIV WITH UL INSIDE DIV>UL>LI>A

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    justify-content: space-around;
    @include respond(phone){
      flex-direction: column;
    }
  }

  &__item {
    margin-right: 2.5rem;
    padding: 1rem;
  }

  &__link {
    color: $color-primary;
    font-size: 2rem;
    text-transform: capitalize;
  }
}
