/*
Theme: Name: Copisteria San Jorge
Text Domain: copisteriasanjorge.com
Version: 1.0
Description: Tema para copistería San Jorge
Tags: copisteria
Author: Jorge Martínez
Author URI: jorge-martinez.es
*/