// * AQUÍ IRÁN LAS VARIABLES PARA EL SITIO WEB

// * MAIN COLORS
$color-primary: #fc7e2f;

$color-secondary: #f40552;

$color-white: #fff;

$color-grey-dark: #4e4949;
$color-black: #000;

$color-white-shadowed: #FBEFF3;

// * BACKGROUND COLORS
$color-bg-primary:  #f8f3eb;

$color-bg-soft-black: #4E4949;
