/* BUTTONS COMPONENTS FILE */

// * COMMON STYLES
.btn {
  font-weight: 500;
  border-radius: 1.2rem;
  transition: all .3s ease-in-out;

  &:hover {
    transform: translateY(-1rem);
    box-shadow: .5rem .5rem 1rem rgba($color-black, .2);
  }

//   &:active {
//     transform: translateY(1rem);
//   }

  // * MODIFIERS
  &--md {
    padding: 1.5rem;
    background-color: $color-secondary;
  }
}
