/* BUTTONS COMPONENTS FILE */

// * COMMON STYLES
.btn {
  font-family: inherit;
  font-weight: 500;
  border-radius: 1.2rem;
  border: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-1rem);
    box-shadow: 0.5rem 0.5rem 1rem rgba($color-black, 0.2);
  }

  // * MODIFIERS
  &--md {
    padding: 1.5rem;
    background-color: $color-secondary;
  }

  &--small {
    padding: 0.5rem 0.8rem;
    font-size: 1.3rem;
    background-color: $color-white;
    cursor: pointer;
    &:hover {
      transform: translateY(0);
      box-shadow: 0.5rem 0.5rem 1rem rgba($color-black, 0.2);
    }
  }

  &--outline-white {
    padding: 1.5rem;
    border: 1px solid $color-white;
    color: $color-white;

    &:hover {
      background-color: $color-primary;
      border: 1px solid $color-primary;
    }
  }

  &--input {
    display: block;
    padding: 2rem;
    background-color: $color-primary !important;
    color: $color-white !important;
    font-size: 1.8rem;
    width: 100%;
    cursor: pointer;
  }
}
