.co {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__box {
    $m-right: 5rem;
    height: 20rem;
    flex: 0 0 calc(50% - #{$m-right});
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $color-white;
    transform: translateY(-20%);
    border-radius: 0.8rem;
    &:not(:last-child) {
      margin-right: $m-right;
      @include respond(tab-port) {
        margin-right: 0rem;
        margin-bottom: 3rem;
      }
    }
    @include respond(tab-port) {
      width: 100%;
      padding: 3rem;
    }
  }

  &__img {
    width: 8rem;
  }
}
