// * REGALOS PERSONALIZADOS COMPONENT
.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  &__img {
    display: block;
    width: 30rem;
    margin-bottom: 2rem;
    transition: transform 5s ease;

    &:hover {
      transform: rotate(360deg);
    }
  }

  &__link {
    margin-top: 2rem;
    color: $color-white;
  }
}
