.prod {
  flex: 0 0 calc(50% - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  background-color: $color-white;
  border-radius: 0.5rem;

  transition: all .6s ease;

  &:not(:last-child) {
    margin-right: 2rem;
    @include respond(tab-port) {
      margin-right: 0rem;
      margin-bottom: 2rem;
    }
  }

  @include respond(tab-port) {
    flex: 1 0 60%;
  }

  &__img {
    max-width: 40rem;
    max-height: 20%;
    margin-bottom: 2rem;
  }

  &:hover {
      transform: translateY(-2rem);
      cursor: pointer;
  }
}
