// * SERVICE CARD COMPONENT
.service-card {
  position: relative;
  flex: 0 0 calc(33.3333333% - 2rem);
  height: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  padding: 3rem 3rem;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba($color-black, 0.3);


  &:not(:last-child){
  }

  @include respond(tab-land){
    flex: 0 0 calc(50% - 2rem);
  }

  @include respond(tab-port){
    height: auto;
  }

  @include respond(phone){
    flex: 0 0 calc(100% - 2rem);
  }

  .top-bar {
    position: absolute;
    top: 0%;
    border: 3px solid $color-secondary;
    width: 40%;
    border-radius: 1rem;
  }

  &__img-wrapper {
    height: 30%;
  }

  &__img {
    width: 12rem;
    height: 12rem;
  }

  &__text-wrapper {
    height: 70%;
  }

  .paragraph-info {
    padding-bottom: 2rem;
  }
}
