// * SECCIÓN VALUES ABOUT PAGE
.values {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10rem;

  @include respond(tab-port) {
    flex-direction: column;
    padding-top: 0rem;
    padding-bottom: 4rem;
  }

  &__text {
    flex: 0 0 50%;
    padding: 0 1.5rem 1.5rem 1.5rem;
    margin-top: -4rem;
    .heading-secondary {
      margin-bottom: 1.5rem;
      @include respond(tab-port) {
        text-align: center;
      }
    }
    @include respond(tab-port) {
      margin-top: 0rem;
    }
  }

  &__collage {
    $m-right: 8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 calc(50% - #{$m-right});
    height: 60rem;
    margin-right: $m-right;
    padding: 1.5rem;

    @include respond(tab-port) {
      padding-bottom: 60%;
      width: 100%;
      margin-bottom: 4rem;
    }
  }

  &__collage-1 {
    position: absolute;
    left: 40%;
    width: 70%;
    border-radius: 0.3rem;
    z-index: 10;
    animation: floatUp 5s ease-in-out infinite;
    cursor: pointer;

    @include respond(tab-port) {
      right: 0%;
      top: 0%;
      width: 40%;
    }

    &:hover {
      animation-play-state: paused;
      transform: translateX(-1rem);
    }
  }

  &__collage-2 {
    position: absolute;
    bottom: -10%;
    width: 70%;
    border-radius: 0.3rem;
    animation: floatDown 6s ease-in-out infinite;
    cursor: pointer;

    @include respond(tab-port) {
      bottom: 0%;
      left: 15%;
      width: 50%;
    }

    &:hover {
      animation-play-state: paused;
      transform: translateX(-1rem);
    }
  }
}
