// * BASE FILE
// * Aquí tendremos haremos un reset del css y estableceremos la fuente por defecto.

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  @include respond(tab-land) {
    font-size: 56.25%; 
  }

  @include respond(tab-port) {
    font-size: 50%; 
  }

  @include respond(phone) {
    font-size: 45%;
  }

  @include respond(phone-small) {
    font-size: 35%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  background-color: $color-bg-primary;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  height: 100%;
  width: 100%;
  line-height: 1.7;
  overflow-x: hidden;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
