// * UTIL CLASSES

.text-center {
    text-align: center;
}

.m-center {
    margin: 0 auto;
}

.pt-md {
    padding-top: 5rem;
}

.mt-sm {
    margin-top: 1rem;
}

.mt-md {
    margin-top: 5rem;
}

.mb-sm {
    margin-bottom: 2rem;
}

.mb-md {
    margin-bottom: 5rem;
}

.show-flex {
    display: flex !important;
}