.services {
  padding-top: 5rem;

  .heading-secondary {
    position: relative;
  }
  .heading-secondary::after {
    @include textBarAfter(38%, 10%, $color-secondary);
  }

  .title-wrapper {
    position: relative;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    padding: 1rem;
    @include respond(phone) {
      flex-direction: column;
    }
  }
}

.gifts {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 0;

  @include bgFullCover('../assets/img/bg/bg-primary.svg', top center);
  .heading-secondary {
    position: relative;
    padding-top: 4rem;
  }

  .heading-secondary::after {
    @include textBarAfter(25%, 0%, $color-white);
  }

  .title-wrapper {
    position: relative;
  }

  .paragraph-sub {
    margin-bottom: 4rem;
    padding: 1rem;
  }
}
