.us {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 6rem;
  padding: 1.5rem;

  @include respond(tab-port) {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__text {
    flex: 0 0 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include respond(tab-port) {
      order: 2;
    }
  }

  .m-center {
    margin-top: 3rem;
  }

  &__photo {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
    @include respond(tab-port) {
      order: 1;
      margin-bottom: 7rem;
    }
  }

  &__photo:hover &__img {
    transform: scale(1.05) rotate(-5deg);
  }

  &__img {
    width: 40rem;
    transition: all 0.5s ease;
  }
}

.services {
  .heading-secondary {
    position: relative;
  }

  .title-wrapper {
    position: relative;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 5rem;
    padding: 1rem;
    @include respond(phone) {
      flex-direction: column;
    }
  }
}

.gifts {
  padding-top: 7rem;
  margin-bottom: 0;
  background-image: url('../assets/img/bg/bg-primary.svg');
  @include bgFullCover('', top center);

  .heading-secondary {
    position: relative;
    padding-top: 4rem;
  }

  .title-wrapper {
    position: relative;
  }

  .paragraph-sub {
    margin-bottom: 4rem;
    padding: 1rem;
  }
}
